<h3>Sign In</h3>


<form action="<%= session_url %>" method="post">
  <%= auth_token_input %>

  <label>
    Email<br>
    <input type="email" name="user[email]" value="">
  </label>
<br>
  <label>
    Password<br>
    <input type="password" name="user[password]" value="">
  </label>
<br><br>
  <input type="submit" value="Sign In">
</form>
<%= link_to "Sign up", new_user_url %>
<br>
<%= link_to "Sign in with Google", "/auth/google_oauth2" %>