  <a class="close-modal">X</a>
  <label id="chat-name">
    Chat Name
    <input type="text"
           value="<%= chat.title %>"
           name = "chat[title]">
  </label>

  <label id="chat-description">
    Chat Description
    <input type="text"
           value="<%= chat.description %>"
           name = "chat[description]">
  </label>
  <input id="chat_portrait" name="chat[portrait]" type="file">
