<input type="submit" class="close-modal click-event" value="x">
<form class="edit-chat-form" enctype="multipart/form-data">

  <label id="chat-name">
    Chat Name
    <input id="new-chat-title"
           type="text"
           value="<%= chat.escape('title') %>"
           name = "chat[title]">
  </label>

  <label id="chat-description">
    Chat Description
    <input id="new-chat-description"
           type="text"
           value="<%= chat.escape('description') %>"
           name = "chat[description]">
  </label>

<div class="dropzone">
  <input src="<%= chat.escape('portrait') %>" id="new-chat-portrait" name="chat[portrait]" class="image-file-input" type="file">

  <img src="<%= chat.escape('portrait') %>" class="image-file-preview" id="chat-portrait-preview" src="" width="50" height="50">
</div>


<input type="submit" class="approve-modal click-event" id="edit-settings-button" value="+">

</form>