  <a class="close-modal">X</a>
  <label id="chat-name">
    Chat Name
    <input id="new-chat-title"
           type="text"
           value="<%= chat.title %>"
           name = "chat[title]">
  </label>

  <label id="chat-description">
    Chat Description
    <input id="new-chat-description"
           type="text"
           value="<%= chat.description %>"
           name = "chat[description]">
  </label>
  <input id="new-chat-avatar" name="chat[portrait]" type="file">
  <input class="edit-settings" type="submit" value="submit">