<a class="close-modal">X</a>
<h3>Current Members</h3>
<% members.forEach(function(member){ %>
  <img width="40" height="40" src="<%= member.escape('avatar')%>">
<% }) %>

<h3>Add Members</h3>

<ul>
<% fwendables.forEach(function(fwendable){ %>
  <li data-id="<%= fwendable.get('id') %>">
    <img width="40" height="40" src="<%= fwendable.escape('avatar')%>">
    <input class="add-member" type="submit">
  </li>
<% }) %>
</ul>