<input type="submit" class="close-modal click-event" value="x">
<div class="header-label"><h3>Create new chat</h3></div>

 <input type="text" placeholder="Name your chat" name="chat[title]" id="new-chat-title"
 class="modal-textfield" value="" autofocus="true">


<input type="submit" class="approve-modal click-event" id="create-chat" value="+">