<input type="submit" class="close-modal click-event" value="×">
<div class="header-label"><h3>New Chat</h3></div>

 <input type="text" placeholder="*clever name*" name="chat[title]" id="new-chat-title"
 class="modal-textfield" value="" autofocus="true">

<input type="submit" class="approve-modal click-event" id="create-chat" value="+">