<h3>Create new chat</h3>
<a class="close-modal">X</a>
<label class="chat-title-label">
  Title
  <input type="text" name="chat[title]" id="new-chat-title" value="">
</label>

  <input type="submit" class="edit-button" value="Submit">