/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */



/* RESET */



html, figure, body, header, nav, h1, h2, a, ul, li, main, article, section, p, small, footer, aside, input {
  margin: 0;
  padding: 0;
  font-family: arial;
  text-align: left;
  color: inherit;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

input {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  font: inherit;
  list-style: none outside none;
  text-decoration: none;
}

/* CLEAR FIX */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* STYLES */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 999998;
}

.modal {
  position: absolute;
  background: rgb(223, 223, 223);
  border-radius: 14px;
  padding: 8px;
  top: 25%;
  left: 25%;
  width: 600px;
  height: 500px;
  z-index: 999999;
}

#modal-content {
  border-radius:8px;
  background:#fff;
  padding:20px;
}

#modal-close {
  position:absolute;
  background:url(close.png) 0 0 no-repeat;
  width:24px;
  height:27px;
  display:block;
  text-indent:-9999px;
  top:-7px;
  right:-7px;
}

#chat-tray a:hover {
  color: lightgray;
}


body{
  background: #F6FFE0;
}

input {
  border: 1px solid gray;
  border-radius: 5px;
}

input[type="submit"] {
  border: 1px solid #BDD684;
  border-radius: 0px;
  background: #E2F0D6;
}

h1 {
  font-weight: bold;
  font-size: 12pt;
}

h2 {
  font-size: 10pt;
  margin-top: 4px;
}

h3 {
  text-align: center;
  font-size: 10pt;
  margin-top: 4px;
}



#group-chat-list{

  margin-bottom: 50px;
}

#private-chat-list{

}

#chat-tray {
  background: #10222B;
  position: fixed;
  height: 100%;
  z-index: 900;
  color: rgb(172, 172, 172);
  border-radius: 10px;
  padding-right: 44px;
}



nav.group {
  width: 100%;
  background-color: #95AB63;
  height: 40px;
  position: fixed;
  z-index: 1000;
}

div.user-menu-link {
  float: right;
  margin-right: 51;
  height: 40px;
  cursor: hand;

}

ul.user-menu {
  display: none;
  background-color: #95AB63;
  position: relative;
  float: right;
  top: 40px;
  right: -90px;
}

ul.user-menu:hover {
  display: block;
}


.user-menu a {
  padding: 10px;
  padding-right: 20px;
  cursor: pointer;
  display: block;
}
.user-menu li:hover {
  background-color: #10222B;
  color: #95AB63;
}

.user-menu-link:hover + ul.user-menu{
  display: block;
}

main.chat-experience{
  min-width: 740px;
  max-width: 900px;
  margin: 45px auto;
  padding: 0 280px;
  overflow: hidden;
}

article.chat-window {
  display: inline-block;
  max-width: 650px;
  min-width: 500px;
  text-align: center;
  position: relative;
  height: 90%;
  float: left;
}

section.chat-settings {
  height: 100%;
  width: 240px;
  display: inline-block;
  background: gray;
  float: left;
}

label.member-list {
  vertical-align: middle;
  line-height: 35px;
}

.member-list:before{
  background-image: url('Fwendatar.png');
  background-size: 25px 25px;
  content: "";
  padding: 15px;
  background-repeat: no-repeat;
  margin-left: 5px;
  padding-top: 6px;
}

.settings-modal-trigger:before{
/*  content: "O";*/
}

.side-settings{
  border-bottom: 1px solid gainsboro;
  padding: 0 10px;
  line-height: 35px;
}

.settings-modal-trigger{
  display: block;
  padding-left: 5px;
}

section.chat-settings.hidden {
  display: none;
}

#modal-trigger{
  display: block;
}

header.chat-header {
  background: #10222B;
  height: 65px;
}

figure.chat-logo {
  float: left;
  margin: 10px;
}

section.chat-descriptors {
  float: left;
  margin-top: 3px;
  max-width: 200px;
  color: #9B9B9B;
}

.chat-tools{
  float: right;
  margin-right: 20px;
  color: #9B9B9B;
}

.chat-options{
  margin: 45px;
}

section.chat-tools {
  margin-top: 20px;
}

section.chat-messages{
  width: 100%;
  height: 90%;
  background: #E2F0D6;
}

textarea#new-message {
  background-color: yellowgreen;
  width: 100%;
  height: 40px;
  font-size: 14pt;
  overflow: auto;
  resize: none;
}

.placeholder-text{
  margin-top: 85px;
  text-align: center;
  font-size: 24pt;
}

input#submit-message {
  border-left: 1px solid black;
  height: 40px;
  padding-left: 16px;
  cursor: pointer;
  position: relative;
  float: right;
  bottom: 40px;
  right: 16px;
  background: transparent;
  border: none;
}

figure.user-avatar {
  margin-top: 75px;
  text-align: center;
}

li.message {
  padding-top: 5px;
  border-bottom: 1px solid black;
}

section.error-list{
  color: red;
}

p.tray-header{
  color: #95AB63;
  margin: 12px;
  margin-top: 40px;
}

#new-chat-button {
  color: #10222B;
  background: #BDD684;
  padding: 10 15;
  margin-top: 15px;
  position: fixed;
  z-index: 5000;
  top: 25px;
  left: 0px;
  width: 147px;
}

figure.current-user-avatar {
    display: inline;

}

a.current-user-profile {
  vertical-align: top;
  line-height: 35px;
}

.newly-add {
  display: none;
}

.dropzone {
position: relative;
height: 250px;
margin-top: 60px;
box-shadow: 2px 5px 10px 0px rgba(50, 50, 50, 0.75);
}

img.image-file-preview {
width: 100%;
height: 100%;
}

input.image-file-input {
position: absolute;
width: 100%;
height: 100%;
opacity: 0;
}


