/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */



/* RESET */

html, figure, body, header, nav, h1, h2, a, ul, li, main, section, p, small, footer, aside, input {
  margin: 0;
  padding: 0;
  font-family: arial ;
  text-align: left;
  color: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  font: inherit;
  list-style: none outside none;
  text-decoration: none;
}

/* CLEAR FIX */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* STYLES */

body{
  background: #F6FFE0;
}

input {
  border: 1px solid gray;
  border-radius: 5px;
}

input[type="submit"] {
  border: 1px solid #BDD684;
  border-radius: 0px;
  background: #E2F0D6;
}

h1 {
  font-weight: bold;
  font-size: 12pt;
}

h2 {
  font-size: 10pt;
  margin-top: 4px;
}

h3 {
  text-align: center;
  font-size: 10pt;
  margin-top: 4px;
}



#group-chat-list{

  margin-bottom: 50px;
}

#private-chat-list{

}

#chat-tray {
  background: #10222B;
  position: fixed;
  height: 100%;
  z-index: 900;
  color: rgb(172, 172, 172);
  border-radius: 10px;
  padding-right: 47px;
}



nav.group {
  width: 100%;
  background-color: #95AB63;
  height: 40px;
  position: fixed;
  z-index: 1000;
}

div.user-menu-link {
  float: right;
  margin-right: 25px;
  height: 30px;
  padding-top: 10px;
  cursor: hand;

}

ul.user-menu {
/* display: none; */
  background-color: #95AB63;
  position: relative;
  float: right;
  top: 40px;
  right: -70px;
}

.user-menu li {
  padding: 10px;
}

.user-menu a {
  padding: 10px;
  cursor: pointer;
}

.user-menu li:hover {
  background-color: #10222B;
  color: #95AB63;
}

a.user-menu-link:hover + ul.user-menu{
  display: block;
}

main.chat-window {
  max-width: 650px;
  min-width: 500px;
  text-align: center;
  width: auto;
  margin: 45px auto;
  padding: 0 280px;
  position: relative;
  height: 90%;

}

header.chat-header {
  background: #10222B;
  height: 65px;
}

figure.chat-logo {
  float: left;
  margin: 10px;
}

section.chat-descriptors {
  float: left;
  margin-top: 10px;
  max-width: 200px;
  color: #9B9B9B;
}

.chat-tools{
  float: right;
  margin-right: 20px;
  color: #9B9B9B;
}

.chat-options{
  margin: 45px;
}

section.chat-tools {
  margin-top: 20px;
}

section.chat-messages{
  width: 100%;
  height: 90%;
  background: #E2F0D6;
}

textarea.new-message {
  background-color: yellowgreen;
  width: 100%;
  height: 40px;
  font-size: 14pt;
  overflow: auto;
  resize: none;
}

.placeholder-text{
  margin-top: 85px;
  text-align: center;
  font-size: 24pt;
}

input.send-message-button {
  border-left: 1px solid black;
  height: 40px;
  padding-left: 16px;
  cursor: pointer;
  position: relative;
  float: right;
  bottom: 40px;
  right: 16px;
  background: transparent;
  border: none;
}

figure.user-avatar {
  margin-top: 75px;
  text-align: center;
}

li.message {
  padding-top: 5px;
  border-bottom: 1px solid black;
}

section.error-list{
  color: red;
}

p.tray-header{
  color: #95AB63;
  margin: 12px;
  margin-top: 40px;
}

.new-chat-button {
  color: #10222B;
  background: #BDD684;
  padding: 10 15;
  margin-top: 15px;
  position: fixed;
  z-index: 5000;
  top: 25px;
  width: 150px;
}