/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */



/* RESET */








html, figure, body, header, nav, h1, h2, a, ul, li, main, article, section, p, small, footer, aside, input {
  margin: 0;
  padding: 0;
  font-family: arial;
  text-align: left;
  color: inherit;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

input {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  font: inherit;
  list-style: none outside none;
  text-decoration: none;
}

/* CLEAR FIX */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* STYLES */

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.9;
	filter: alpha(opacity=50);
	z-index: 999998;
}

.modal {
  position: fixed;
  border-radius: 14px;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 500px;
  z-index: 999999;
}

#modal-content {
  border-radius:8px;
  background:#fff;
  padding:20px;
}

#modal-close {
  position:absolute;
  background:url(close.png) 0 0 no-repeat;
  width:24px;
  height:27px;
  display:block;
  text-indent:-9999px;
  top:-7px;
  right:-7px;
}

#chat-tray a:hover {
  color: lightgray;
}


body{
  background: #F6FFE0;
}


input[type="submit"] {

}

h1 {
  font-weight: bold;
  font-size: 12pt;
}

h2 {
  font-size: 10pt;
  margin-top: 4px;
}

h3 {
  text-align: center;
  margin-top: 4px;
}



#group-chat-list{

  margin-bottom: 50px;
}

#private-chat-list{

}

#chat-tray {
  background: #10222B;
  position: fixed;
  height: 100%;
  z-index: 900;
  color: rgb(172, 172, 172);
  border-radius: 10px;
  padding-right: 44px;
}



nav.group {
  width: 100%;
  background-color: #95AB63;
  height: 40px;
  position: fixed;
  z-index: 1000;
}

div.user-menu-link {
  float: right;
  margin-right: 51;
  height: 40px;
  cursor: hand;

}

ul.user-menu {
  display: none;
  background-color: #95AB63;
  position: relative;
  float: right;
  top: 40px;
  right: -90px;
}

ul.user-menu:hover {
  display: block;
}


.user-menu a {
  padding: 10px;
  padding-right: 20px;
  cursor: pointer;
  display: block;
}
.user-menu li:hover {
  background-color: #10222B;
  color: #95AB63;
}

.user-menu-link:hover + ul.user-menu{
  display: block;
}

main.chat-experience{
  min-width: 740px;
  max-width: 900px;
  margin: 45px auto;
  padding: 0 280px;
  overflow: hidden;
}

article.chat-window {
  display: inline-block;
  max-width: 650px;
  min-width: 500px;
  text-align: center;
  position: relative;
  height: 90%;
  float: left;
}

section.chat-settings {
  height: 100%;
  width: 240px;
  display: inline-block;
  background: gray;
  float: left;
}

label.member-list {
  vertical-align: middle;
  line-height: 35px;
}

.member-list:before{
  background-image: url('Fwendatar.png');
  background-size: 25px 25px;
  content: "";
  padding: 15px;
  background-repeat: no-repeat;
  margin-left: 5px;
  padding-top: 6px;
}

.settings-modal-trigger:before{
/*  content: "O";*/
}

.side-settings{
  border-bottom: 1px solid gainsboro;
  padding: 0 10px;
  line-height: 35px;
}

.settings-modal-trigger{
  display: block;
  padding-left: 5px;
}

section.chat-settings.hidden {
  display: none;
}

#modal-trigger{
  display: block;
}

header.chat-header {
  background: #E74C3C;
  height: 65px;
}

figure.chat-logo {
  float: left;
  margin: 10px;
}

section.chat-descriptors {
  float: left;
  margin-top: 3px;
  max-width: 200px;
  color: black;
}

.chat-tools{
  float: right;
  margin-right: 20px;
  color: #9B9B9B;
}

.chat-options{
  margin: 45px;
}

section.chat-tools {
  margin-top: 20px;
}

section.chat-messages{
  width: 100%;
  height: 90%;
  background: #E2F0D6;
  overflow-x: hidden;
  overflow-y: scroll;
}

#new-message {
	background-color: yellowgreen;
	width: 100%;
	height: 40px;
	font-size: 14pt;
	overflow: auto;
	resize: none;
	padding-right: 30%;
}

.placeholder-text{
  margin-top: 85px;
  text-align: center;
  font-size: 24pt;
}

#submit-message {
	border-left: 1px solid black;
	height: 40px;
	padding-left: 16px;
	cursor: pointer;
	position: absolute;
	float: right;
	bottom: 0;
	right: 16px;
	background: transparent;
	border: none;
}

figure.user-avatar {
  margin-top: 75px;
  text-align: center;
}

li.message {
  padding-top: 5px;
  border-bottom: 1px solid black;
}

section.error-list{
  color: red;
}

p.tray-header{
  color: #95AB63;
  margin: 12px;
  margin-top: 40px;
}

#new-chat-button {
  color: #10222B;
  background: #E74C3C;
  padding: 10 15;
  margin-top: 15px;
  position: fixed;
  z-index: 5000;
  top: 25px;
  left: 0px;
  width: 147px;
}

figure.current-user-avatar {
    display: inline;

}

a.current-user-profile {
  vertical-align: top;
  line-height: 35px;
}

.newly-add {
  display: none;
}

.dropzone {
cursor: pointer;
position: fixed;
height: 270px;
box-shadow: 2px 5px 10px 0px rgba(50, 50, 50, 0.75);
width: 250px;
left: 28%;
top: 35%;
}


img.image-file-preview {
width: 100%;
height: 100%;
}

input.image-file-input {
position: absolute;
width: 100%;
height: 100%;
opacity: 0;
}

.message-avatar {
display: inline-block;
float: left;
padding: 5px 10px;
}

.message-sender {
float: left;
padding-top: 10px;
font-weight: bold;
position: absolute;
top: 35px;
left: 10px;
}

.snail-item {
float: right;
display: inline-block;
padding: 15px;
padding-right 15px;
}

.bump-item {
float: left;
display: inline-block;
padding: 15px;
}

.message-content {
display: inline-block;
float: left;
width: 80%;
margin-top: 10px;
font-size: 10pt;
}

.message-info {
	width: 65%;
	height: 65px;
	float: left;
	display: inline-block;
	position: relative;
}

.bump-item {
	float: left;
	display: inline-block;
	padding: 15px;
}

.approve-modal{
	position: fixed;
	top: 0;
	right: 0;
	width: 25%;
	height: 100%;
	font-size: 250px;
	color: white;
	text-align: center;
	padding-top: 10%;
	color: rgb(33, 215, 33);
  background-color: rgba(33, 215, 33, 0.15);
  border-left: rgba(33, 215, 33, .35);
  cursor: pointer;

}

.close-modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 25%;
	height: 100%;
	font-size: 250px;
	color: white;
	padding-top: 7%;
	text-align: center;
	color: rgb(215, 10, 10);
  background-color: rgba(215, 10, 10, .15);
  border-left: rgba(215, 10, 10, .35);
  cursor: pointer;
}

.header-label {
float: left;
color: white;
position: fixed;
top: 15%;
width: 50%;
text-align: center;
font-size: 44pt;
}

#new-chat-title {
border-radius: 5px;
width: 50%;
padding: 15px 20px;
font-size: 55pt;
float: left;
color: white;
font-weight: bold;
position: fixed;
top: 50%;
text-align: center;
}

#new-chat-title:focus {
	outline: 0;
}

*::-webkit-input-placeholder {
    text-align: center;
    color: rgb(50,50,50);
}

.input-label {
position: fixed;
font-size: 18pt;
color: white;
left: 47%;
top: 45%;
}


#email-label {
top: 55%;
}

.user-edit-inputs {
padding-left: 20px;
color: rgb(135, 135, 135);
}

.user-edit-inputs:focus{
  outline: 0;
  border-bottom: 2px solid white;
}

.chat-edit-inputs {
padding-left: 20px;
color: rgb(135, 135, 135);
}

.chat-edit-inputs:focus{
  outline: 0;
  border-bottom: 2px solid white;
}


#chat-description {
top: 55%;
}

#edit-chat-title {
width: 60%;
}


.dropzone-label {
position: relative;
display: block;
background-color: gray;
color: black;
text-align: center;
}

#edit-chat-description {
display: block;
margin-top: 15px;
padding-left: 0px;
}

#edit-settings-button{
  font-size: 200px;
}

#avatar-file-input{
  cursor: pointer;
}