
//Application Colors

body{ background-color: #1e1e1e;}
#chat-tray a:hover { color: lightgray; }
section.error-list{ color: red; }
*::-webkit-input-placeholder { color: rgb(150,150,150); }
#modal-content { background-color:#fff; }
.modal-overlay { background-color: #000; }

//TopNav Colors

nav.group { background-color: rgb(30, 30, 30); }
nav.group { border-bottom: 3px solid rgb(33,215,33); }

.navatar{ background: rgba(255,255,255,0.35); }

ul.user-menu { background-color: rgb(30,30,30); }
ul.user-menu { color: rgb(33,215,33); }
ul.user-menu { border: 2px solid #21d721; }

.user-menu-link { border-left: 2px solid rgb(33,215,33); }
.user-menu-link { color: rgb(33,215,33); }
.user-menu li:hover { color: rgb(30,30,30); }
.user-menu li:hover { background-color: rgb(33,215,33); }

//SideNav Colors

.tray-header{ color: white; }

#chat-tray { background-color: rgb(30, 30, 30); }
#chat-tray { border-right: 3px solid rgb(33,215,33); }

.chat-link {  border-bottom: 3px solid #4184FF; }
.chat-link:hover {background-color: rgba(255, 255, 255, 0.15);}

.chat-link-button { color: #4184FF; }

.chat-link-portrait { background-color: white; }

.fwends-link{ border:1px solid #1AA61A; }
.fwends-link{ background-color: #21D721; background-image: -webkit-gradient(linear, left top, left bottom, from(#21D721), to(#1CB51C)); }
.fwends-link:hover{ border:1px solid #169116; }
.fwends-link:hover{ background-color: #1AAB1A; background-color: #1AAB1A; background-image: -webkit-gradient(linear, left top, left bottom, from(#1AAB1A), to(#158915));}

#new-chat-button{ border:1px solid #1AA61A; }
#new-chat-button{ background-color: #21D721; background-image: -webkit-gradient(linear, left top, left bottom, from(#21D721), to(#1CB51C)); }
#new-chat-button:hover{ border:1px solid #169116; }
#new-chat-button:hover{ background-color: #1AAB1A; background-color: #1AAB1A; background-image: -webkit-gradient(linear, left top, left bottom, from(#1AAB1A), to(#158915));}




//Chat-Experience Colors

#submit-message { background: transparent; }
header.chat-header { background-color: rgb(30,30,30); }
section.chat-descriptors { color: rgba(255, 255, 255, 0.85); }
.chat-tools { color: #9B9B9B; }
section.chat-settings { background-color: rgb(30,30,30); }
section.chat-settings { border-left: 3px solid #21d721; }
#submit-message { background-color: #21d721; }
.member-management {color: white;}
.chat-setting {border-left: 3px solid #21d721;}

#new-message {  background-color: #1e1e1e;}
#new-message {  color: #21d721;}
#new-message {   border-bottom: 1px solid rgb(33, 215, 33); }

.all-settings {  border-bottom: 1px solid white; }

.chat-settings-trigger { border-top: 1px solid white;}

.chat-settings-trigger:hover{  color: white; }
.chat-settings-trigger:hover{  background: #4184FF; }

.listatar {  background: rgba(255, 255, 255, 0.35); }


::-webkit-scrollbar { opacity: 0; }

.chat-messages::-webkit-scrollbar-thumb { background: white; }

.chat-portrait { background: rgba(255,255,255,.35); }

//Individual Message Colors

//Modal Colors

.approve-modal{	color: rgb(33, 215, 33); }
.approve-modal{ background-color: rgba(33, 215, 33, 0.15); }
.approve-modal{ border-left: rgba(33, 215, 33, .35); }

.close-modal{ color: rgb(215, 10, 10); }
.close-modal{ background-color: rgba(215, 10, 10, .15); }
.close-modal{ border-left: rgba(215, 10, 10, .35); }

.header-label { color: white; }
#new-chat-title { color: white; }
.input-label { color: white; }

.user-edit-inputs { color: rgb(135, 135, 135); }
.user-edit-inputs:focus{ border-bottom: 2px solid white; }

.chat-edit-inputs { color: rgb(135, 135, 135); }
.chat-edit-inputs:focus{ border-bottom: 2px solid white; }

.edit-chat-section {border-right: 2px solid #E74C3C;}

.dropzone { box-shadow: 2px 5px 10px 0px rgba(50, 50, 50, 0.75); }

.portrait-dropzone{ background-color: rgba(255, 255, 255, 0.35); }

.dropzone-label { background-color: gray; }
.dropzone-label { color: black; }

.add-member-label { background-color: rgba(33, 215, 33, 0.5); }
.show-member-label { background-color: #E74C3C;}
.show-member-label { opacity: .5;}

.add-member-item { border: 3px solid rgb(33, 215, 33);}
.current-member-item { border: 3px solid #E74C3C;}

.hover-add { color: #E74C3C }

#new-chat-title:focus { border-bottom: 2px solid white; }
#new-chat-title:focus { border-top: 2px solid white;}
#new-chat-title:focus {   outline: 0; }

#new-chat-title:hover { border-bottom: 2px solid white; }
#new-chat-title:hover { outline: 0; }

.user-edit-inputs:focus{  border-top: 2px solid white; }
.user-edit-inputs:focus{  border-bottom: 2px solid white; }
.user-edit-inputs:focus{  outline: 0; }

.user-edit-inputs:hover { border-bottom: 2px solid white; }


.chat-edit-inputs:hover { border-bottom: 2px solid white; }

.chat-edit-inputs:focus { border-top: 2px solid white; }
.chat-edit-inputs:focus { border-bottom: 2px solid white; }

//New session/user


.start-session-button{	color: white; }
.start-session-button{ background-color: rgba(255, 255, 255, 0.15); }
.start-session-button{ border-top: 2px solid rgba(255, 255, 255, .35); }
.current-session-type { background: linear-gradient(to bottom, rgba(45,122,255,1) 0%,rgba(65,132,255,1) 100%);}
.switch-session-button { background: linear-gradient(to bottom, #2d7aff 0%, #4184ff 100%);}
.splash-page { background-color: #1e1e1e;}
.omni-auth {  color: white; }
.omni-auth {  background: linear-gradient(to bottom, #c90004 44%, #f40000 76%, #f40000 100%);}
.logo-back { background: rgba(255, 255, 255, .75);}
.credential-input:hover {border: 1px solid rgba(255,255,255,0.25);}
.credential-input:focus {outline: 1px solid rgba(255,255,255,0.50);}
.credential-input:focus {border:none;}
