// Place all the styles related to the bumps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.approve-modal{
	position: fixed;
	top: 0;
	right: 0;
	width: 25%;
	height: 100%;
	font-size: 250px;
	text-align: center;
	padding-top: 10%;
  cursor: pointer;
}

.close-modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 25%;
	height: 100%;
	font-size: 250px;
	padding-top: 7%;
	text-align: center;
  cursor: pointer;
}

.header-label {
  float: left;
  position: fixed;
  top: 15%;
  width: 50%;
  text-align: center;
  font-size: 44pt;
}

#new-chat-title {
  border-radius: 5px;
  width: 50%;
  padding: 15px 20px;
  font-size: 55pt;
  float: left;
  font-weight: bold;
  position: fixed;
  top: 50%;
  text-align: center;
}

.input-label {
  position: fixed;
  font-size: 18pt;
  left: 40%;
  top: 45%;
}


#email-label {
  top: 55%;
}

.user-edit-inputs {
  padding: 10px 15px;
}



.chat-edit-inputs {
  display: block;
  padding: 10px 15px;
}

.chat-edit-inputs:focus{
  outline: 0;
}

#edit-chat-title {
  width: 60%;
}


.dropzone-label {
  position: relative;
  display: block;
  text-align: center;
}

#edit-settings-button{
  font-size: 200px;
}



.dropzone {
  cursor: pointer;
  position: fixed;
  height: 100px;
  width: 100px;
  left: 28%;
  top: 40%;
}

.portrait-dropzone{
  height: 240px;
  width: 240px;
  left: 40%;
  top: 10%;
}

#chat-name{
  top: 65%;
}
#chat-description{
  top: 80%;
}


.newly-add {
  display: none;
}

img.image-file-preview {
  width: 100%;
  height: 100%;
}

input.image-file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.edit-chat-section h3{
  position: fixed;
  text-align: center;
  font-size: 30pt;
}

.edit-chat-section {
  height: 100%;
  width: 41%;
  position: fixed;
  top: 0;
}

.edit-members-modal{
  width: 75%;
}

.edit-members-list{
  display: inline-block;
  height: 100%;
  position: fixed;
  top: 20%;
  text-align: center;
}

.current-members-list {
  width: 35%;
  left: 65%;
  float: right;
}
.add-members-list {
  width: 40%;
  left: 25%;
  float: left;
}

.current-member-figure {

}

.edit-item {
display: inline-block;
height: 150px;
width: 150px;
position: relative;
}

.current-member {

}

.add-member-label {}

.manage-member-label {
  position: absolute;
  bottom: 0;
  text-align: center;
  display: block;
  width: 100%;
}

.add-member {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  z-index: 50;
  top: 0;
  opacity: 0;
}

.hover-add{
  display: none;
}

.add-member-item:hover .hover-add {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 200px;
  content: "+";
  z-index: 45;
  top: 0;
  left: 0;
  line-height: 60%;
  text-align: center;
  opacity: .75;
  font-weight: 300;
}

#add-members-label {
  top: 5%;
  left: 20%;
}

#current-members-label {
  top: 5%;
  left: 60%;
}

.edit-item{
  margin: 5px;
}