<ul id="group-chat-list" class="group">

<li><p class="tray-header">Group Chats</p></li>
<% current_user.chats.each do |chat| %>
<li>
  <%= link_to chat.title, chat_url(chat) %>
</li>
<% end %>
</ul>
