<ul id="private-chat-list" class="group">
<li><p class="tray-header">Private Chats</p></li>
<% current_user.fwends.each do |user| %>
<li>
  <%= link_to "#{user.name}" %>
</li>
<% end %>
</ul>
<%= link_to "Make Fwends", users_url %>